.thumbnail-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 57vh;
}

.thumbnail-div1 {
    display: flex;
    flex-direction: column;
}

.thumbnail-div2 {
    display: flex;
    flex-direction: column;
}

.thumbnail-div3 {
    display: flex;
    flex-direction: column;
}

.thumbnail-div4 {
    display: flex;
    flex-direction: column;
}
.image {
    height: 125px;
    width: 150px;
    margin-top: 1rem;
}